
<button><a href="/hacktivities">Back</a></button>

{{#if info}}
    {{info}}
{{/if}}

<h2>Your hacktivity information</h2>
<b>Name: {{hacktivity.name}}</b>

<b>Description: {{hacktivity.description}}</b>

<b>Activity start time: {{hacktivity.starthour}}</b>

<b>Location: {{hacktivity.location.name}} <img class='hacktivity-img'    src="{{hacktivity.location.image}}" alt=""></b>

<b>Date: {{hacktivity.date}} </b>
<script>
    //const today = moment();
    //console.log(today.format());
    const checkDate = moment(hacktivity.date).format('YYYY-MM-DD');
    console.log(checkDate)
</script>

<b>Duration: {{hacktivity.duration}} </b>

<b>Created: {{hacktivity.created}} </b>

<p>Host: {{hacktivity.hostId.username}} </p>

   {{!-- {{#if atendees.length > 0 }} --}}
The number of participants who have currently booked the activity are: {{atendees.length}} <br>
{{#if currentUser}}
    {{#if atendees }}
    List of users who will participate in the activity:
        <ul>
        {{#each atendees}}
            <li>
            <p>{{this.username}}</p>
            </li>
        {{/each}}
        </ul>
        {{else}}
        <p>No user subscribed to the hacktivity yet.</p>
    {{/if}}
{{/if}}


 <form action="/hacktivities/{{hacktivity._id}}/book" method="post">
  <button type="submit">Book hacktivity</button>
</form> 

{{#if currentUser}}
    {{#eq currentUser._id  hacktivity.hostId._id}}
    <button><a href="/hacktivities/{{hacktivity._id}}/update"></a>Update hacktivity</button> <br><br>
    <form action="/hacktivities/{{hacktivity._id}}/delete" method="post">
        <button type="submit">Delete hacktivity  </button>
    </form>
    {{/eq}}
{{/if}}

