<div class="hacktivity">
<button><a href="/hacktivities">Back</a></button>
<h2>Your hacktivity information</h2>
<b>Name: {{hacktivity.name}}</b>
<br>
<b>Description: {{hacktivity.description}}</b>
<br>
<b>Location: {{hacktivity.location.name}} <img src="{{hacktivity.location.image}}" alt=""></b>
<br>
<b>Date: {{hacktivity.date}} </b>
<br>
<b>Duration: {{hacktivity.duration}} </b>
<br>
<b>Created: {{hacktivity.created}} </b>
<br>

{{#eq userId  hacktivity.host}}
<a href="/hacktivities/{{hacktivity._id}}/update">Update hacktivity</a> <br><br>

<form action="/hacktivities/{{hacktivity._id}}/delete" method="post">
    <button type="submit">Delete hacktivity</button>
</form>
{{/eq}}