

    {{#if info}}
        {{info}}
    {{/if}}

    <div class="city-banner3">
         <img class="city-banner-image3" src="{{hacktivity.location.image}}" alt=""> 
            <div class="city-banner-text3">
            <a href="">{{hacktivity.location.name}}</a>
        </div>
    </div>

    <div class="hack-main">

  <div class="hack-title">
   {{#eq currentUser._id  hacktivity.hostId._id}}
    <h2>Your Hacktivity information</h2>
    {{else}}
    <h2>Hacktivity information</h2>
    {{/eq}}
  </div>
 
<div class="hack-info">
    <p id="hack-name">{{hacktivity.name}}</p>
    <p id="hack-info">{{hacktivity.description}}</p>
    <p id="hack-host">Host name : <a class="username-hack">{{hacktivity.hostId.username}}</a> </p>

</div>
     <div class="buttons-hacktivities">
        <div class="btn-hack" id="book-btn">
            <form action="/hacktivities/{{hacktivity._id}}/book" method="post">
            <button type="submit">Book hacktivity</button>
            </form> 
        </div>
        {{#eq currentUser._id  hacktivity.hostId._id}}
        
            <div class="btn-hack" id="update-btn">
                <form action="/hacktivities/{{hacktivity._id}}/update" >
            <button type="submit">Update hacktivity</button>
            </form>
            </div>
            <div class="btn-hack" id="delete-btn">
                <form action="/hacktivities/{{hacktivity._id}}/delete" method="post">
                <button type="submit">Delete hacktivity  </button>
                </form>
            </div>
        {{/eq}} 
     
  </div>
    <div class="atendees-list">
        The number of participants who have currently booked the activity are: {{atendees.length}} <br>
        {{#if currentUser}}
            {{#if atendees }}
            List of users who will participate in the activity:
                <ul>
                {{#each atendees}}
                    <li>
                    <p>{{this.username}}</p>
                    </li>
                {{/each}}
                </ul>
                {{else}}
                <p>No user subscribed to the hacktivity yet.</p>
            {{/if}}
        {{/if}}
    </div>




    </div>
