{{#if info}}
    {{info}}
{{/if}}
{{#eq userId  hacktivity.hostId._id}}
<div class="buttons-host">
<div class="button-h" id="update-btn">
<a href="/hacktivities/{{hacktivity._id}}/update" style="background-color:#b69cff">Update hacktivity</a>
</div>
<div class="delete-btn">
<form action="/hacktivities/{{hacktivity._id}}/delete" method="post">
    <button type="submit">Delete hacktivity  </button>
</form>
</div>

</div>
{{/eq}}

{{#eq userId  hacktivity.hostId._id}}
<h2>Your Hacktivity information</h2>
{{else}}
<h2>Hacktivity information</h2>
{{/eq}}

<img class='city-banner'    src="{{hacktivity.location.image}}" alt="">
<p>{{hacktivity.location.name}} </p>
<h2>Hacktivity information</h2>
<p>{{hacktivity.name}}</p>
<p>{{hacktivity.description}}</p>
<p>Host: {{hacktivity.hostId.username}} </p>
<p>Duration: {{hacktivity.duration}}' </p>
<p>Date: {{hacktivity.date}} </p>
  {{#if atendees }}
    List of users who will participate in the activity:
        <ul>
        {{#each atendees}}
            <li>
            <p>{{this.username}}</p>
            </li>
        {{/each}}
        </ul>
        {{else}}
        <p>No user subscribed to the hacktivity yet.</p>
    {{/if}}

<<<<<<< HEAD
 <form action="/hacktivities/{{hacktivity._id}}/book" method="post">
  <button type="submit">Book hacktivity</button>
</form> 

{{#eq userId  hacktivity.hostId._id}}
<button><a href="/hacktivities/{{hacktivity._id}}/update"></a>Update hacktivity</button> <br><br>

<form action="/hacktivities/{{hacktivity._id}}/delete" method="post">
    <button type="submit">Delete hacktivity  </button>
=======
<form action="/hacktivities/{{hacktivity._id}}/book" method="post">
  <button type="submit">Book hacktivity</button>
>>>>>>> dev-gerard
</form>


