<div class="hacktivity">
<button><a href="/hacktivities">Back</a></button>
<h2>Your hacktivity information</h2>
<b>Name: {{hacktivity.name}}</b>
<br>
<b>Description: {{hacktivity.description}}</b>
<br>
<b>Location: {{hacktivity.location.name}}</b>
<br>
<b>Date: {{hacktivity.date}} </b>
<br>
<b>Duration: {{hacktivity.duration}} </b>
<br>
<b>Created: {{hacktivity.created}} </b>
<br>
<a href="/hacktivities/{{hacktivity._id}}/update">Update hacktivity</a> <br><br>

</div>