<div class="hacktivity">
<button><a href="/hacktivities">Back</a></button>
<h2>Your hacktivity information</h2>
<b>Name: {{hacktivity.name}}</b>

<b>Description: {{hacktivity.description}}</b>

<b>Location: {{hacktivity.location.name}} <img class='hacktivity-img'    src="{{hacktivity.location.image}}" alt=""></b>

<b>Date: {{hacktivity.date}} </b>

<b>Duration: {{hacktivity.duration}} </b>

<b>Created: {{hacktivity.created}} </b>

<p>Host: {{hacktivity.hostId.username}} </p>

{{#eq userId  hacktivity.hostId._id}}
<button><a href="/hacktivities/{{hacktivity._id}}/update"></a>Update hacktivity</button> <br><br>

<form action="/hacktivities/{{hacktivity._id}}/delete" method="post">
    <button type="submit">Delete hacktivity  </button>
</form>
{{/eq}}
