<form action="/hacktivities/{{hacktivity._id}}/update" method="post">
 
  <label for="name">Hacktivity</label>
  <input type="text" name="name" id="hacktivity-name" placeholder="name" value="{{hacktivity.name}}">
  <label for="descripton">Description</label>
  <input type="text" name="description" id="hacktivity-description" value="{{hacktivity.description}}">
  <label for="date">Date</label>
  <input type="date" name="date" id="hacktivity-date" value="{{hacktivity.date}}">
    {{!-- <label for="hour">hour</label>
  <input type="date" name="hour" id="hacktivity-hour" min="09:00" max="20:00" value="{{hactivity.hour}}"> --}}
  <label for="duration">Duration in minutes</label>
  <input type="number" name="duration" id="hacktivity-duration" value="{{hacktivity.duration}}">
  <button type="submit">submit</button>
  
</form>