<div class="hack-list">

<h1 id="my-hack" class="title-list">My Hacktivities</h1>

{{#if currentHacktivities}}
  <h2>List of the hacktivities that you have created:</h2>
    {{#each current}}
      {{#each ../currentHacktivities}}
      {{!-- {{#each item in hacktivity}}  --}}
        <div id="hack-my" class="each-hack">
          <a  href="/hacktivities/{{this._id}}">{{this.name}}</a>
          Date:{{../this}}
        </div>
      {{/each}}
    {{/each}}
{{/if}}

<hr>
{{#if oldHacktivities}}
    Expired hacktivities:
    {{#each expired}}
      {{#each ../oldHacktivities}}
        <div id="hack-my" class="each-hack">
          <a  href="/hacktivities/{{this._id}}">{{this.name}}</a>
          Date:{{../this}}
        </div>
      {{/each}}
    {{/each}}
{{/if}}

<hr>

  <div class="no-hack">
    <p>You can always create new activities directly by accessing:</p>
    <a href="/hacktivities/create">Create hacktivities</a>
  </div>


</div>

